@media (max-width: 1430px) {


  .code-blocks-wrapper .code-block {
    width: calc(50% - 20px);
  }

  .code-buttons-wrapper {
    flex-wrap: wrap;
  }

  .input-number-block {
    width: 100%;
    align-items: center;
    br {
      display: none;
    }

  }

  /*  .primary-button {
      margin-bottom: 15px;
    }*/


  .limit {
    padding: 60px 30px;
  }
}

@media (max-width: 901px) {
  .code-blocks-wrapper {
    flex-wrap: wrap;
  }

  .code-blocks-wrapper .code-block {
    width: 100%;
    margin-bottom: 40px;
    &:last-of-type {
      margin-bottom: 0;
    }
  }

  .limit {
    padding: 60px 20px;
  }


}

@media (max-width: 502px) {
  .main-headline {
    font-size: 26px;
    margin-bottom: 18px;
  }



  .primary-text-editor-bg:after {
    width: 70px;
    height: 78px;
    position: absolute;
    right: 6px;
    top: -69px;
  }

  .primary-text-editor-wrapper .main-headline {
    margin-right: 90px;
  }

  .limit {
    padding: 40px 15px;
  }
}